# Ignore node_modules and build directories
node_modules
dist
dist-ssr
*.local

# Ignore the environnement file
.env

# Ignore the Firebase configuration
.firebase/

# Editor directories and files
.vscode/*